.vscode/

cnn/cpp/activations/
cnn/cpp/output_gradients/
cnn/cpp/variable_gradients/
cnn/cpp/variables/
cnn/cpp/temp/

cnn/TF/activations/
cnn/TF/output_gradients/
cnn/TF/variable_gradients/
cnn/TF/variables/
cnn/TF/temp/

cnn/hls/data
cnn/hls/variables

cnn/vitis/host/data
cnn/vitis/host/variables

FL/FPGA/IO_files/

FL/no_training/IO_files/

FL/TF/nn/__pycache__/
FL/TF/IO_files/