.vscode/
nn/__pycache__/
IO_files/
cnn_cpp/activations/
cnn_cpp/output_gradients/
cnn_cpp/variable_gradients/
cnn_cpp/variables/
cnn_cpp/temp/
cnn_hls/conv_sc_fwp/data
cnn_hls/conv_sc_cg/data
cnn_hls/conv_mc_fwp/data
cnn_hls/conv_mc_bp/data
cnn_hls/conv_mc_cg/data
cnn_hls/maxp_fwp/data
cnn_hls/maxp_bp/data
cnn_hls/dense_fwp/data
cnn_hls/dense_bp/data
cnn_hls/dense_cg/data
cnn_hls/softmax_fwp/data
cnn_hls/softmax_bp/data
cnn_hls/softmax_cg/data
cnn_hls/all_modules/data
cnn_hls/all_modules/variables